a {
    color: #adb5bd; /* Bootstrap's gray-400 for a lighter gray */
}

a:hover {
    color: #f8f9fa; /* Bootstrap's white for hover */
}
.nav-pills-custom {
    padding-left: 15px; /* This is the typical padding for table cells in Bootstrap */
}

.img-fluid {
    display: block;
    margin: auto;
}

.item-image-container {
    display: flex;
    align-items: center; /* Vertically center the image */
    justify-content: center; /* Horizontally center the image */
    padding: 15px;
}

.item-details {
    flex: 1;
    padding: 15px;
    overflow-x: auto; /* add scroll for overflow content */
}

.d-flex {
    flex-wrap: nowrap; /* this ensures the flex container doesn't wrap its content */
}
