<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will I Donoate My Kit?</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body class="bg-dark text-white">

    <!-- This is working 
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                {% for category, items in context.items() %}
                    <h3>{{ category | capitalize }}</h3>
                    <pre>{{ items | tojson(indent=2) }}</pre>
                {% endfor %}
            </div>
        </div> 
    </div> -->
    
    <div class="container">
        {% for category in ['helmets', 'armored_rigs', 'backpack', 'M4A1'] %}
          <div class="row my-3">
            <h2>{{ category.capitalize() }}</h2>
            {% for item in context[category][:4] %}
              <div class="col-md-3">
                <div class="card bg-dark text-white" style="width: 18rem;">
                  <img src="{{ item.inspectImageLink }}" class="card-img-top" alt="{{ item.shortName }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.shortName }}</h5>
                    <p class="card-text">Price: {{ item.basePrice }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      
      <div class="container mt-4">
        <div class="row">
          <h2>Ammo</h2>
          <!-- Debug: Dump ammo data -->
          <pre>{{ context.ammo | tojson }}</pre>
      
          {% for ammo in context.ammo %}
          <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="{{ ammo.item.inspectImageLink }}" class="card-img-top" alt="{{ ammo.item.shortName }}">
            <div class="card-body">
              <h5 class="card-title">{{ ammo.item.shortName }}</h5>
              <p class="card-text">
                Caliber: {{ ammo.caliber }}<br>
                Damage: {{ ammo.damage }}<br>
                Armor Damage: {{ ammo.armorDamage }}<br>
              </p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      
    
    
    
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Optional Bootstrap JavaScript along with Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!-- Your script -->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>
