<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIDMYK</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body class="bg-dark text-white">

<div class="container mt-5">
    <div class="row">
        <!-- Search card on the left -->
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-white">
                <div class="card-header text-center">
                    <h1>Search for a Tarkov Item</h1>
                    <div class="input-group mb-3">
                        <input type="text" id="searchTerm" class="form-control" placeholder="Search for an item...">
                        <div class="input-group-append">
                            <button onclick="searchItem()" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- List of cards on the right -->
        <div class="col-md-6 bg-dark text-white">
            <!-- Nav pills -->
            <ul class="nav nav-pills mb-3" id="categoryPills">
                <!-- Nav pills will be dynamically populated here -->
            </ul>

            <div class="row" id="cardsContainer">
                <!-- Cards will be appended here -->
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
